@import "tailwindcss";
@config "../tailwind.config.js";

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #142901;
  background-color: #f9ffed ;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0 auto;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button{
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #142901;
    background-color: #f9ffed;
  }
}
